Nissi.WebPresentation/Web References/WSCEPServices1/cep.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://diastek.com/ws" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://diastek.com/ws" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://diastek.com/ws">
      <s:element name="getLogradouro">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cep" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getLogradouroResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getLogradouroResult" type="tns:ArrayOfLogradouro" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfLogradouro">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Logradouro" nillable="true" type="tns:Logradouro" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Logradouro">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UF" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Cidade" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Endereco" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EnderecoAbreviado" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Bairro" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CEP" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Complemento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TipoLogradouro" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EnderecoSemAcento" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ArrayOfLogradouro" nillable="true" type="tns:ArrayOfLogradouro" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getLogradouroSoapIn">
    <wsdl:part name="parameters" element="tns:getLogradouro" />
  </wsdl:message>
  <wsdl:message name="getLogradouroSoapOut">
    <wsdl:part name="parameters" element="tns:getLogradouroResponse" />
  </wsdl:message>
  <wsdl:message name="getLogradouroHttpGetIn">
    <wsdl:part name="cep" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getLogradouroHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfLogradouro" />
  </wsdl:message>
  <wsdl:message name="getLogradouroHttpPostIn">
    <wsdl:part name="cep" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getLogradouroHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfLogradouro" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="getLogradouro">
      <wsdl:input message="tns:getLogradouroSoapIn" />
      <wsdl:output message="tns:getLogradouroSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ServiceHttpGet">
    <wsdl:operation name="getLogradouro">
      <wsdl:input message="tns:getLogradouroHttpGetIn" />
      <wsdl:output message="tns:getLogradouroHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ServiceHttpPost">
    <wsdl:operation name="getLogradouro">
      <wsdl:input message="tns:getLogradouroHttpPostIn" />
      <wsdl:output message="tns:getLogradouroHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getLogradouro">
      <soap:operation soapAction="http://diastek.com/ws/getLogradouro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getLogradouro">
      <soap12:operation soapAction="http://diastek.com/ws/getLogradouro" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceHttpGet" type="tns:ServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="getLogradouro">
      <http:operation location="/getLogradouro" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceHttpPost" type="tns:ServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="getLogradouro">
      <http:operation location="/getLogradouro" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://www.diastek.com.br/ws/cep.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://www.diastek.com.br/ws/cep.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceHttpGet" binding="tns:ServiceHttpGet">
      <http:address location="http://www.diastek.com.br/ws/cep.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceHttpPost" binding="tns:ServiceHttpPost">
      <http:address location="http://www.diastek.com.br/ws/cep.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>