Nissi.WinFormsApplication/Service References/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://alexandre-pc/Nissi.WcfService/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Nissi.Model" />
  <xs:element name="ListarNotaFiscal">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Nissi.Model" minOccurs="0" name="identNotaFiscal" nillable="true" type="q1:NotaFiscalVO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarNotaFiscalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Nissi.Model" minOccurs="0" name="ListarNotaFiscalResult" nillable="true" type="q2:ArrayOfNotaFiscalVO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarParametro">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarParametroResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Nissi.Model" minOccurs="0" name="ListarParametroResult" nillable="true" type="q3:ArrayOfParametroVO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IncluirParametro">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Nissi.Model" minOccurs="0" name="identParametro" nillable="true" type="q4:ParametroVO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IncluirParametroResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AlterarParametro">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Nissi.Model" minOccurs="0" name="identParametro" nillable="true" type="q5:ParametroVO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AlterarParametroResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcluirParametro">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcluirParametroResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarNfe">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codNF" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarNfeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Nissi.Model" minOccurs="0" name="ListarNfeResult" nillable="true" type="q6:ArrayOfNfeVO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IncluirNfe">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Nissi.Model" minOccurs="0" name="identNFe" nillable="true" type="q7:NfeVO" />
        <xs:element minOccurs="0" name="codUsuarioInc" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IncluirNfeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AlterarNfe">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Nissi.Model" minOccurs="0" name="identNfe" nillable="true" type="q8:NfeVO" />
        <xs:element minOccurs="0" name="codUsuarioAlt" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AlterarNfeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcluirNfe">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codNF" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcluirNfeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GerarLote">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Nissi.Model" minOccurs="0" name="identLote" nillable="true" type="q9:LoteVO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GerarLoteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GerarLoteResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GravarReciboNFe">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Nissi.Model" minOccurs="0" name="identNFe" nillable="true" type="q10:NfeVO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GravarReciboNFeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GravarStatusNFe">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Nissi.Model" minOccurs="0" name="identNFe" nillable="true" type="q11:NfeVO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GravarStatusNFeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>